.color-option {
    background-color: transparent;
    border: none;
    margin: 0 8px;
}

.color-option img {
    height: 40px;
    width: 40px;
    border-radius: 100%;
    border: 1px solid #fff;
    object-fit: cover;
}

.color-option.active img {
    box-shadow: 0 0 9px rgb(0 0 0 / 25%);
}

.component-option, .location-option {
    border: none;
    background-color: transparent;
    margin: 0 8px;
}

.component-option img, .location-option img {
    width: 100px;
    height: 100px;
    object-fit: contain;
    background-color: #fff;
    padding: 10px;
    border-radius: 3px;
    border: solid 1px #ccc;
    margin-bottom: 8px;
}

.component-option.active img, .location-option.active img {
    box-shadow: 0 0 9px rgb(0 0 0 / 25%);
}

.component-option p, .location-option p {
    font-weight: 700;
    font-size: 13px;
    text-align: center;
}

.component-option.active p, .location-option.active p {
    color: #03aec0;
}