#editor {
    background-color: #d8d8d8;
    height: 100vh;
    min-height: 350px;
    margin-bottom: 30px;
    display: flex;
}

#editor-bar {
    background-color: #24394a;
    height: 100%;
    overflow-y: scroll;
}


.editor-bar-tools {
    color: #67869e;
    padding: 15px;
}

.editor-bar-tools h3 {
    color: #fff;
    font-size: 12px;
    text-transform: uppercase;
}

.editor-bar-tools button {
    background-color: transparent;
    border: none;
    margin: 10px 10px 0 0;
}
.editor-bar-tools button.btn-update  {
    color: #fff;
    background-color: #67869e;
    padding: 10px;
    border-radius: 3px;
}
.editor-bar-tools button.btn-update:hover {
    background-color: #50697c;
}

.textToolbar {
    display: none;
}
.textToolbar.active {
    display: block;
}

.editor-icon {
    font-size: 20px;
    color: #67869e;
}

.icon-order-down {
    transform: rotate(180deg);
}

.input-editor {
    background-color: #354f64;
    height: 40px;
    border-radius: 5px;
    border: none;
    margin: 10px 0 0;
    color: #fff;
    font-size: 14px;
    padding: 12px;
    width: 100px;
}

select.input-editor {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}

.input-font {
    width: 70px;
}

.input-color{
    background-color: #354f64;
    color: #fff;
    padding: 5px;
    border-radius: 100%;
    height: 30px;
    width: 30px;
    border: none;
    outline: none;
    cursor: pointer;
    -webkit-appearance: none;
}
.input-color-img{
    background-color: #354f64;
    color: #fff;
    height: 30px;
    width: 30px;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 2px;
}
.label-color-img {
    padding-left: 25px;
    font-size: 18px;
    font-weight: 700;
}
.input-color-img, .label-color-img {
    display: inline-block;
}

.input-color::-webkit-color-swatch-wrapper {
    padding: 0;
}
.input-color::-webkit-color-swatch {
    border: none;
    border-radius: 100%;
}

#editor-area {
    background-color: #d8d8d8;
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
}

#editor-useful-area {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: transparent;
}

#canvas {
    background-image: url('../../assets/images/bg-editor.png');
    background-repeat: repeat;
}

.upload {
    display: flex;
    padding: 30px;
    flex-direction: row;
}
.dropzone-box, .information {
    padding: 30px;
}
.dropzone-box {
    color: #999;
    text-align: center;
}
.dropzone {
    border: 1px dashed #ccc;
    border-radius: 4px;
    cursor: pointer;
    padding: 50px;
}
.information {
    line-height: 2 ;
}

.img-load {
    height: 100px;
    margin-top: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
}
.twitter-picker{
    width: 290px !important;
}