#preview-area {
    position: relative;
}
.pantone-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    max-width: 250px;
}
.delete-item {
    color: #dc3545;
    font-size: 18px;
    width: 40px;
    height: 45px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
}
.add-pantone {
    border: none;
    background-color: transparent;
    color: #ff8400;
    padding: 10px 15px;
    text-decoration: underline;
}
.message {
    margin-bottom: 25px;
}
.load {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
}