header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9;
}

#menu-actions {
    background-color: #98aed7;
    position: absolute;
    right: 25px;
    border-radius: 0 0 10px 10px;
}

#menu-actions ul {
    padding:0px;
    margin:0px;
    list-style:none;
}

#menu-actions ul li {
    display: inline;
    margin: 0 5px;
}

#menu-actions button {
    background-color: transparent;
    border: none;
    height: 40px;
    padding: 0 10px;
    font-size: 14px;
}

.ic-save {
    font-size: 15px;
}