@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

button { 
    cursor: pointer;
}

.container {
    margin: 0 25px;
}

.wrapper {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#preview {
    padding: 40px 25px 25px;
    width: 35%;
    height: 100%;
    overflow-y: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#preview > h2 {
    color: #828282;
    font-weight: 900;
    margin-top: 25px;
    margin-bottom: 15px;
}

#preview > p {
    text-align: center;
    font-size: 16px;
    color: #565656;
}

#preview > img, #preview-img {
    width: 90%;
    margin: 0 auto;
    display: flex;
}


#data {
    padding: 70px 25px 25px;
    width: 65%;
    height: 100%;
    background-color: #ebebeb;
    overflow-y: auto;
}

#data > h1 {
    font-weight: 900;
    color: #5b5b5b;
}

#data > p {
    color: #5b5b5b;
    margin-bottom: 30px;
}

fieldset {
    border: solid 1px #7c7c7c;
    border-radius: 8px;
    padding: 18px 15px;
    margin-bottom: 30px;
}

legend {
    color: #383838;
    font-weight: 900;
    font-size: 17px;
    padding-left: 10px;
    padding-right: 10px;
}

select, input {
    width: 100%;
    border-radius: 4px;
    border: 1px solid #ced4da;
    height: 45px;
    display: flex;
    justify-content: center;
    padding: 0 10px;
}

.btn {
    border-radius: 4px;
    height: 45px;
    padding: 0 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-cancel {
    border: solid 1px#aba6a6;
    color: #8a8a8a;
    background-color: transparent;
}

.btn-continue {
    border: solid 1px #ff8400;
    background-color: #ff8400;
    font-weight: 900;
    color: #fff;
}

.btn-continue svg {
    margin-left: 8px;
}

#footer-actions {
    display: flex;
    justify-content: space-between;   
}

.canvas-preview-container #canvas-preview {
    border: dashed 2px #ccc;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.col-2 {
    width: 48%;
}