#progressbar {
    width: 100%;
}

#progressbar ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
}

#progressbar ul li {
    flex: 1;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    color: #000;
}

#progressbar ul li.active {
    color: #03aec0;
}

#progressbar-bar {
    width: 100%;
    height: 15px;
    background: #d1d1d1;
    margin-top: 10px;
    border-radius: 20px;
    margin-bottom: 30px;
}

#progressbar-complete {
    height: 15px;
    background: #00c300;
    border-radius: 20px;
}